<h1>Add professor</h1>

<% if @professor.errors.any? %>
    <div id="error explanation">
    <ul>
        <% @professor.errors.full_messages.each do |error|%>
            <li><%= error %></li>
        <% end %>
    </ul>
    </div>
<% end %> 

<%= form_for @professor do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :department %>
    <%= f.text_field :department %>
    <%= f.label :tenure %>
    <%= f.check_box :tenure %>
    <%= f.submit %>
<% end %>